body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr {
    max-width: 200px;
    border-width: 3px;
    opacity: 0.7;
    margin-top: 25px;
    margin-bottom: 25px;
}

.topnav {
    font-size: 14px;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: #111;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:hover {
    color: #777;
}

.lead {
    font-size: 18px;
    font-weight: 400;
    max-width: 90%;
    margin: 0 auto;
}

.center {
  text-align:center;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/landing-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 5%;
}

.intro-message > img {
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.intro-message .subheading {
    font-size: 24px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 50px;
    margin-top: 50px;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.btn-group-lg>.btn, .btn-lg {
  width: 100px;
}

@media(max-width:767px) {
  .btn-group-lg>.btn, .btn-lg {
    width: 70px;
  }

    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-school-buttons > li {
        display: inline-block;
        margin-bottom: 15px;
        padding: 0;
    }

    .btn-group-lg>.btn, .btn-lg {
      padding: 6px 12px;
    }

    ul.intro-school-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }

    .feature > p{
      margin-bottom: 15%;
    }


}

a.btn.btn-circle {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 0;
}
a.btn.btn-circle:hover {
  color: #ddd;
}

a.inline-link {
  color: #111;
  text-decoration: underline;
}

a.inline-link:hover {
  color: #777;
  text-decoration: underline;
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
  }

.section-heading {
    margin-bottom: 15px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}

#quotes-container {
  height: 25em;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -.5em;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.carousel-indicators {
  position: relative;
}

.carousel-inner {
   margin-bottom: 3em;
}

.carousel {
  padding-bottom: 50px;
}

@media(max-width:767px) {
  #quotes-container {
    height: 30em;
  }

}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/landing-banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-school-buttons {
    display: inline-block;
}

.banner-school-buttons h2 {
  margin-top: 10%;
}

.banner-school-buttons > li {
  margin-top: 0;
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-school-buttons > li {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-school-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

footer a {
  color: #111;
}

footer a:hover {
  text-decoration: none;
  color: #777;
}

p.copyright {
    margin: 15px 0 0;
}

/*** FAQs ***/
.faqs {
  color: #111;
  text-decoration: underline;
}

#faqs li p:hover {
  text-decoration: none;
}

#faqs li {
    display: block;
}

#faqs li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float: left;
    margin-top: 4px;
    color: #111;
    margin-left: -.5em;
}

#faqs li p {
  top: -10px;
}

#faqs-answers {

}

#faqs-answers .row {
  padding-top: 50px;
}

#faqs-answers p {
  margin-bottom: 3em;
}

/** packing **/
#packing {
  max-width: 90%;
}

/** schools **/
.profile img {
  max-width: 80%;
  float: left;
  margin-right: 2em;
  margin-bottom: 2em;
}

.profile {
  padding-bottom: 2em;
}

@media(min-width:767px) {
  .profile img {
    max-height: 300px;
    margin-left: 10em;
  }
}

.img-circle {
    border-radius: 50%;
}

@media(max-width:767px) {
  .profile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .caption h2 {
    text-align: center;
  }
}

.caption {
}
